WCFDatabaseWebService/WCFDatabaseWebService/Service References/ServiceReferenceStudent/StudentService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFDatabaseWebService.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFDatabaseWebService.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfstudent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="student" nillable="true" type="tns:student" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfstudent" nillable="true" type="tns:ArrayOfstudent" />
  <xs:complexType name="student">
    <xs:sequence>
      <xs:element minOccurs="0" name="course" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fees" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="student" nillable="true" type="tns:student" />
</xs:schema>